
/*All the Colors Used over the App*/

/*Common Colors*/
$white: #FFFFFF;
$cloud_white:#EEEEEE;
$cloud_white2:#DDDDDD;
$cloud_dark:#AAAAAA;
$light_dark: #555555;
$black: #000000;
/*Common Colors*/

/*App Colors*/ 
$body_bg: #f9f9f9;
$page_heading_bg:#444444;
$page_heading_fg:#e0e0e0;
$page_bg2:#565656;
$panel_bg: #f0cccc;
$primary_pink : #e70d89;
$secondary_pink : #8b1454;
$light_primarypink:rgba(231, 13, 137, 0.2);
$light_secondarypink: rgba(139, 20, 84, 0.2);
$place_holder : #999999;
$disabled : #e0e0e0;
$disabled_text : #999999;
$alert : #f82626;
$success: #388e3c;
/*App Colors*/ 

/*Fonts*/
$primary_font_family:'Karla', sans-serif;