@import '../variables.scss';
/* Theme changes */

.gbam-theme {
    #sidenav {
        background-color: $secondary_pink !important;
        border-right: 1px solid $secondary_pink !important;
        >.logo {
            background: $secondary_pink !important;
        }
    }
    .navuser {
        border-left: 1px solid #8b145450 !important;
    }
    #navbar {
        //background: url('../assets/img/bg-header.svg') no-repeat $primary_pink !important;
        background-position-x: -45px !important;
    }
    .navcontents {
        color: $cloud_white !important;
        li {
            &:first-child {
                border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
            }
            border-bottom: 1px solid rgba(0,0,0,0.1) !important;
        }
    }
    .navusericon {
        color: $cloud_white !important;
    }
    .search input[type=text] {
        border: 1px solid $primary_pink !important;
        &::-webkit-input-placeholder {
            color: $secondary_pink !important;
        }
    }
    .cashbox {
        color: $cloud_white !important;
    }
}